.games-header
  &.no-visibility
    visibility hidden

  .content
    width 100%
    line-height 29px

  border 1px solid white // hack
  .ui.header
    margin: 0.7rem 1rem !important
  &.fixed
    position: fixed;
    left 0
    right 0
    z-index: 1;
    background: white;
  &.fixed-doubler
    margin 0 -1rem

.black-color
  color: #000 !important;