body
  padding 0
  .marginal
    margin-bottom 1rem !important
  .margin-top
    margin-top 10px

.with-top-padding
  padding-top: 4rem;

.bottom-divider
  border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
  background: #fff !important;

.top-divider
  border-top: 1px solid rgba(34, 36, 38, .15) !important;
  background: #fff !important;

.ui.fluid.container
  margin-left inherit !important
  margin-right inherit !important
  padding-left 1em
  padding-right 1em
