@-webkit-viewport
  width: device-width

@-moz-viewport
  width: device-width

@-ms-viewport
  width: device-width

@-o-viewport
  width: device-width

@viewport
  width: device-width

@media only screen and (min-width: 992px)
  .ui.container
    margin-left: 1em !important;
    margin-right: 1em !important;

.ui.feed > .event > .label + .content
  margin-top 0

.ui.feed > .event > .content .meta
  margin-top 0

.ui.feed > .event > .label img
  margin-top 3px

.ui.top.vertical.segment
  padding-top 0

a, a:hover
  color #6435C9

.accounts.ui.form button, .accounts.ui.form .button, .accounts.ui.form a
  margin-bottom 6px

.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg
  margin-right 0.5em
