.ui.feed > .event > .label + .content
  margin-top 0

.ui.feed > .event > .content .meta
  margin-top 0

.ui.feed > .event > .label img
  margin-top 3px

.ui.top.vertical.segment
  padding-top 0

a, a:hover
  color #6435C9

.accounts.ui.form
  height 100%
  margin 10px
