.owned-by-me
  text-align: right

.fixed-form
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 999;
  padding: 10px;
  background: white;

.fixed-header
  position: fixed;
  top: 70px;
  //left: 0;
  z-index: 1;
  background: white;

.comments-with-margin
  margin-top: 50px
  margin-bottom: 200px

.comments-with-margin-and-notice
  margin-top: 150px
  margin-bottom: 200px
