.games-show
  margin-top -1rem
  .loading
    margin-top 1rem

.owned-by-me
  text-align: right

.fixed-form
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 10; /* top-right menu, which should be on top of everything, has a z-index of 11 */
  padding: 10px;
  background: white;
  .ui.label
    width 100%
    text-align center
  .ui.form select
    border-top-right-radius 0
    border-bottom-right-radius 0
    -webkit-appearance none
    height 100%

.games-header
  border 1px solid white // hack
  .ui.header
    margin: 0.7rem 1rem !important;
  &.fixed
    position: fixed;
    left 0
    right 0
    z-index: 1;
    background: white;
  &.fixed-doubler
    margin 0 -1rem

.comments, .members
  margin-top: 1em

.comments
  &.with-form
    // Safari works incorrectly with "margin-bottom"
    padding-bottom 150px
  .ui.cards > .card
    margin: 0.5em 0
  .ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui)
    font-weight: normal

.win-color
  color green
.lose-color
  color red
.center
  text-align center

.round-details
  > span
    padding-left 10px

    &:first-child
      padding-left 0

.win-game-content
  margin-top 1.5rem
  > i
    margin-top 0.8rem
    margin-bottom 0.5rem
