.owned-by-me
  text-align: right

.fixed-form
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 999;
  padding: 10px;
  background: white;
  .ui.label
    width 100%
    text-align center
  .ui.form select
    border-top-right-radius 0
    border-bottom-right-radius 0

.games-header
  padding-bottom: 10px;
  border 1px solid white // hack
  .ui.header
    margin: 1rem !important;
  &.fixed
    position: fixed;
    left 0
    right 0
    z-index: 1;
    background: white;
  &.fixed-doubler
    margin 0 -1rem

.comments-with-margin
  margin-top: 50px
  margin-bottom: 200px

.comments-with-margin-and-notice
  //margin-top: 150px
  margin-bottom: 200px
